.container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  min-width: 320px;
}

.tasks {
  display: flex;
  padding: 0;
  flex-direction: column;
  margin: 0;
  width: 100%;
  margin-top: 0.5rem;
}

.tasks li:last-child {
  border-bottom: none;
}
