.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.25rem;
  width: 100%;
  font-kerning: 1.2em;
}

.link {
  text-decoration: none;
  color: var(--color);
  font-size: 1.2em;
}

.link.selected {
  color: lightblue;
  text-shadow: 0 0 2px lightblue, 0 0 3px lightblue;
}
