.aside {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  flex: 1;
  min-width: 320px;
  border-right: 1px solid var(--color);
  border-bottom: 1px solid var(--color);
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color);
}

.h2 {
  margin: 0;
  padding: 0;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
  margin-top: 0.5rem;
  height: 100%;
  width: 100%;
}
